#container {
    margin:0 10%;
    overflow: hidden;
}
.panel{
}
.panel-heading{
}
.panel-title{
    text-align:center;
}
.panel-body{
    text-align:center;
}
.modal-header{
    text-align: center;
}
.modal-title{
    display: inline-block;
}
